.settings-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.right-heading {
  margin-left: 1em;
}
.account-info {
  padding: 1.5em;
}
.info-box {
  background-color: #cbcbcb;
  padding: 1em;
  display: flex;
  flex-direction: row;
}
.user-avatar {
  width: 15%;
  height: auto;
  margin-right: 2em;
}
.user-name {
  font-size: large;
  font-weight: 600;
}

.info-content {
  flex-grow: 1; /* Ensure info content takes remaining space */
  display: flex;
  flex-direction: column;
}

.user-name,
.email,
.dob {
  padding: 5px;
}
.edit-btn {
  align-self: flex-end;
  margin-top: auto;
  padding: 5px 15px;
  cursor: pointer;
  font-size: 16px;
}
.password-update,
.enable-mfa {
  padding: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 15em;
}
.password-update h3,
.enable-mfa h3 {
  margin: 0;
}
.update-pw-btn,
.mfa-btn {
  margin-left: 5em;
  padding: 5px;
  cursor: pointer;
  font-size: 16px;
}

.enable-mfa h3 {
  margin: 0;
}

/* Media queries for responsiveness */

@media only screen and (max-width: 992px) {
  .info-box {
    flex-direction: column;
  }
}
