
.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .signup h1 {
    color: #B5B5B5;
  }
  
  .input-box {
    margin-bottom: 20px;
    position: relative;
  }
  
  .input-box input {
    width: 250px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #aaa;
    background-color: transparent;
    outline: none;
  }
  
  .input-box label {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  
  .input-box input:focus + label,
  .input-box input:valid + label {
    top: -20px;
    font-size: 14px;
    color: #364670;
  }
  
  .signupButton {
    width: 250px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #364670;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .loginButton:hover {
    background-color: #364670ab;
  }
  
  .login-link {
    margin-top: 10px;
  }
  
  .login-link a {
    text-decoration: none;
    color: #364670;
  }
  
  .login-link a:hover {
    text-decoration: underline;
  }